# Unity3D .gitignore file.
# Store this file at the root of your local repository.
.DS_Store
*.DS_Store
project/Library/AssetImportState
project/Library/AssetServerCacheV3
project/Library/FailedAssetImports.txt
project/Library/ScriptAssemblies
project/Library/ScriptMapper
project/Library/assetDatabase3
project/Library/cache
project/Library/expandedItems
project/Library/metadata
project/Library/previews
project/Library/guidmapper
project/Temp/*
Build/*
*.userprefs 
*.csproj
*.pidb
*.sln
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pdb
*vshost.exe*
DevExpress*.resources.dll
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*

