# Unity3D .gitignore file.
# Store this file at the root of your local repository.
.DS_Store
*.DS_Store
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Temp/*
Build/*
*.userprefs 
*.csproj
*.pidb
*.sln
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pdb
*vshost.exe*
DevExpress*.resources.dll
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*


project/Temp/UnityTempFile-2b5c1f27a03384e41814277e4edc175f

project/Temp/UnityTempFile-3e314bf63b51a4d8dad8578a3e12f3a6

project/Temp/UnityTempFile-80ea2faedef2b4201bd71f42868d91c2

project/Temp/UnityTempFile-88008d7891df3443ebb648ef79e55ea0

project/Temp/UnityTempFile-8e0f4585770e448f8ab481e018d2d680

project/Temp/UnityTempFile-ce8d6074b7e1d4a779ca02ad4346c5a5

project/Temp/__EditModeScene

project/Library/assetDatabase3

*.userprefs

project/Library/assetDatabase3
